<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Faculty Login</title>
    <!-- Main css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/loginStyle.css" />
  </head>
  <body>
    <form method="POST">
      <img src="/static/images/logo.png" alt="" class="logo" />
      <h3>Admin Login</h3>
      <label for="email_id">Email Id</label>
      <input
        type="text"
        id="email_id"
        name="email_id"
        placeholder="Institute Email"
        required
      />

      <label for="password" class="required">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
        required
      />

      <button class="button">Log In</button>
    </form>
    <a class="home" href="/"><i class="fa fa-home fa-3x"></i></a>
  </body>
</html>
