<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/facultyDashboard.css" />
    <title>Document</title>
  </head>
  <body>
    <h2>Hi <%=user%>, here is what we received, </h2>
    <%for(let i=0; i<courses.length; i++){%>
        <div class="card">
            <h3><%=i+1%>. <%=courses[i]['Course']%></h3>
        </div>
    <%}%>
    <form action="/faculty/index" method="get">
        <button class="btn-dark bigText">Reset</button>
    </form>
  </body>
</html>
