body {
    margin: 100px auto;
    text-align: center;
    background-image: url("/static/images/back1.webp");
}

.card{
    width: 32%;
    display: block;
    position:relative;
    text-align: center;
    background-color: wheat;
    margin: auto;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
    color: brown;
    margin-bottom: 15px;
}


.btn-dark{
    width: 200px;
    color:rgb(233, 161, 78);
    background-color: brown;
    padding: 5px;
    margin-top: 15px;
    border-radius: 4px;
}

.bigText{
    font-size: 1.2rem;
    font-style: bold;
}